@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@using SessionNetCore.Controllers;

@{
    var sessionString = Context.Session.GetString("User");
}

@if (sessionString != null)
{
    var sessionObject = JsonConvert.DeserializeObject<User>(sessionString);

    <a href="@Url.Action("Logout", "Home")">Logout</a>

    <div>
        <p>UserName: @sessionObject.UserName</p>
        <p>Email @sessionObject.Email</p>
    </div>
}
else
{
    <a href="@Url.Action("Login", "Home")">Login</a>
}

